*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ---------------------------------------------- */
header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
header p{
    margin-left: 19%;
    font-weight: 700;
    font-size: 21px;
}
/* ---------------------------------------------- */
.header-main{
    height: 450px;
    background-image: url('img/capa.jpg');
    background-repeat: no-repeat;
}
.header-main div{
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-self: center;
    justify-content: flex-end;
}
.header-main p{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: auto 220px;
    text-align: end;
}
/* ---------------------------------------------- */
.about{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 60%;
}
.about h3{
    align-self: flex-start;
    margin-bottom: 10px;
}
.about #abParag{
    margin: 0 0 15px 0;
    width: 100%;
}
.about p{
    width: 100%;
    margin-top: 10px;
}
/* ---------------------------------------------- */
.contact-title{
    background-color: #D92121;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-title h1{
    background-color: #6C0000;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 34px;
}
/* ---------------------------------------------- */
main .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
section .container{
    width: 60%;
}
.container h3{
    margin: 10px auto;
}
.container p{
    margin: 10px auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card input,select{
    width: 95%;
    height: 30px;
}
.card input,select:last-child{
    margin-bottom: 20px;
}
.card label{
    align-self: flex-start;
    margin-bottom: 5px;
    margin-left: 18px;
}
/* ---------------------------------------------- */
button{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: #D92121;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
button:hover{
    background-color: #6C0000;
}
/* ---------------------------------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: whitesmoke;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #000;
}